.vscode/**
.github/**
docs/**
src/**
scripts/**
showcase/**
.vscode-test/**
.vscode-test-web/**
.screenshots/**
node_modules/**
tsconfig.json
package-lock.json
.gitignore
.vscodeignore
**/.DS_Store
*.vsix
